/* ------- */
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: "Questrial","MicrosoftJhengHei" , sans-serif;
    line-height: normal;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* -------- */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
.logo,.footer .logo{
    display: block;
    color: #489846;
    font-size: 36px;
}
.text-lg{
    font-size: 36px;
    font-weight: bold;
}
.title{
    display: inline-block;
    vertical-align: text-top;
    padding-left: 17px;
    border-left: 15px solid #a3dea2;
}
@media (max-width: 375px){
    .text-lg{
        font-size: 32px;
    }
}
/* header */
.header{
    margin-bottom: 80px;
}
.navbar{
    padding: 20px;
    padding-left: 96px;
    padding-right: 121px;
    box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navbar .container{
    max-width: 100%;
}

.navbar-links li{
    margin-right: 12px;
    text-align: center;
}
.navbar-links li:last-child{
    margin-right: 0;
}
.navbar-links a{
    color: #000;
    padding: 14px 25px;
    border-radius: 8px;
    display: block;
    transition: all 0.3s;
}
.navbar-links a.active,.navbar-links a:hover{
    background-color: #ff7286;
    color: #fff;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url('./img/2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 580px;
}
.banner-title{
    font-size: 60px;
    color: #fff;
    font-weight: bold;
}
@media (max-width: 992px){
    h1{
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
    .navbar{
        padding: 20px 0;
    }
    .container{
        max-width: 720px;
   }
}
@media (max-width: 576px){
   .navbar-links{
       width: 80%;
       justify-content: space-between;
    }
   .navbar-links li{
        width: 48%;
        margin-right: 0;
        margin-bottom: 12px;
    }
}
@media (max-width: 414px){
    .navbar-links li{
        width: 100%;
    }
    .banner-title{
        font-size: 48px;
    }
}
/* 點餐、查詢訂單 */
.order{
    margin-bottom: 121px;
    padding: 0 24px;
}
.order h2{
    margin-bottom: 39px;
}
.order p:not(:last-child){
    margin-bottom: 21px;
}
.order p:nth-child(4){
    margin-bottom: 84px;
}
.button-list a{
    display: block;
    padding: 61px 80px 67px 79px;
    color: #3e613d;
    background-color: #f9f9b5;
    border-radius: 10px;
}
.button-list a:hover{
    background-color: #caca94;
    color: #6F6F58;
}
.button-list li:first-child{
    margin-right: 23px;
}
.button-list li:first-child a{
    background-color: #a8e8e1;
}
.button-list li:first-child a:hover{
    background-color: #91c7c2;
    color: #fff;
}
@media (max-width: 768px){
    .order p {
        text-align-last: left;
    }
    .button-list li{
        width: 75%;
    }
    .button-list li:first-child{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .button-list a{
        padding: 20px 30px;
    }
}
@media (max-width: 375px){
    .button-list li{
        width: 90%;
    }
}
/* menu */
.menu{
    margin-bottom: 82px;
}
.menu h2{
    margin-bottom: 36px;
}
@media (max-width: 992px){
    .menu-list{
        flex-wrap: wrap;
    }
    .menu-list li{
        width: 50%;
    }
}
@media (max-width: 576px){
    .menu-list li{
        width: 100%;
    }
    .menu-list img{
        margin: 0 auto;
    }
}
/* comment */
.comment{
    margin-bottom: 90px;
}
.comment h2{
    margin-bottom: 100px;
}
.card-list li{
    width: calc(100% / 3);
    border-radius: 5px;
    box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
    border: solid 1px #c7e5ec;
    position: relative;
    padding: 56px 24px 40px;
}
.card-list li:not(:last-child){
    margin-right: 16px;
}
.card-list h3{
    margin-bottom: 24px;
}
.avatar{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 0;
    border-radius: 50%;
    border: 1px solid #ccc;
}
@media (max-width: 768px){
    .card-list{
        flex-wrap: wrap;
    }
    .card-list li{
        width: 100%;
    }
    .card-list li:not(:last-child){
        margin-right: 0;
        margin-bottom: 80px;
    }
}
/* location */
.location{
    margin-bottom: 43px;
}
.location h2{
    margin-bottom: 36px;
}
/* footer */
.footer{
    padding-top: 35px;
    background-color: #e8efee;
    line-height: 1.5;
}
.footer-info{
    font-size: 14px;
    color: #484848;
    padding-bottom: 40px;
}
.footer-info h2{
    margin-bottom: 20px;
}
.footer-info li:not(:last-child){
    margin-bottom: 16px;
}
.footer-info a{
    color: #484848;
}
.footer-info a:hover{
    color: #35564b;
}
.footer .logo{
    text-align: right;
}
.footer-link::before{
    content:'/';
    display: inline-block;
    margin: 0 5px;
}
.footer-copyright{
    padding: 15px 0;
    background-color: #35564b;
    color: #fff;
}
@media (max-width: 768px){
    .footer-info{
        flex-direction: column-reverse;
    }
    .footer .logo{
        text-align: left;
    }
}

/* util */
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
@media (max-width: 992px){
    .flex-lg-column {
        flex-direction: column;
    }
    .align-items-lg-center{
        align-items: center;
    }
}
@media (max-width: 576px){
    .flex-sm-wrap{
        flex-wrap: wrap;
    }
}